body {
  margin: 0;
  padding: 0;
 text-align: center;
 font-size: 30px;
}
h1 {
  font-size: 40px;
  background-color: aquamarine;
  padding: 5vh;
  margin-top: 0px;
}

main {
  font-size: 35pxh;
}

em {
  font-size: 38px;
}

.post-category {
  margin: 0px;
  padding: 0px;
}

#title {
  padding: 1vh;
  font-size: 20px;
}

#content {
  height: 10vw;
  width: 28vw;
  font-size: 20px;
}

fieldset {
  margin-left: 32vw;
  margin-right: 32vw;
}

#submit-btn {
  font-size: 20px;
  padding: 1vh;
  margin: 2vh;
}

.post {
  background-color: gainsboro;
  margin: 20px 300px;
}

.post-header {
  margin-bottom: 0px;
}

.post-id {
  margin: 0px
}

